<div style="width:60%;margin:auto" class="container">
  <div>
  Thank you for registering.  You can create a login as well.
  </div>
<form method="post" action="/vendor/thanks" class="form-horizontal">
<fieldset>
<!-- Form Name -->
  <legend>New Vendor Login Information</legend>
  <div class="form-group">
    <label for="username">User Name</label>
    <input type="text" class="form-control" name="username" placeholder="username">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="text" class="form-control" name="password" placeholder="Password">
  </div>
  <!--<div class="form-group">
    <label for="password">Confirm Password</label>
    <input type="text" class="form-control" name="password" placeholder="Password">
  </div>-->
  <!-- Button (Double) -->
<div class="form-group">
      <label class="col-md-4 control-label"></label>

  <div class="col-md-8">
    <input type="reset" class="btn btn-primary btn-lg " id="reset" name="reset" value="Reset Form">
    <input type="submit" class="btn btn-success btn-lg " id="submit" name="submitb" value="Submit Form">

   </div>
  </div>

</fieldset>
</form>
</div>
